<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ app_name }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/wtt.css') }}">
  <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</head>
<body>
  {% block body %}{% endblock %}
  <span class="version">v{{ version }}</span>
</body>
</html>
